<div id="bonline_pv">
    <div class="bonline-pv">
        <div class="bonline-pv-left">
            <div class="tree-div">
                <ul class="nav nav-stacked">
                    <li name="item1" value="1" ng-click="switchProduct($event)">
                        <span class="li-plus">+</span>
                        <span class="li-minus hidden-fold-flag">-</span>
                        <span class=".product-item">KA品专</span>
                        <span class="flag">></span>
                    </li>
                    <li name="item2" value="2" ng-click="switchProduct($event)">
                        <span class="li-plus">+</span>
                        <span class="li-minus hidden-fold-flag">-</span>
                        <span class=".product-item">中小品专</span>
                        <span class="flag">></span>
                    </li>
                    <li name="item15" value="15" ng-click="switchProduct($event)">
                        <span class="li-plus">+</span>
                        <span class="li-minus hidden-fold-flag">-</span>
                        <span class=".product-item">智能品专</span>
                        <span class="flag">></span>
                    </li>
                    <li name="item20" value="20" ng-click="switchProduct($event)">
                        <span class="li-plus">+</span>
                        <span class="li-minus hidden-fold-flag">-</span>
                        <span class=".product-item">报价工具核心模块</span>
                        <span class="flag">></span>
                    </li>
                    <li name="item3" value="3" ng-click="switchProduct($event)">
                        <span class="li-plus">+</span>
                        <span class="li-minus hidden-fold-flag">-</span>
                        <span class=".product-item">品牌华表</span>
                        <span class="flag">></span>
                    </li>
                    <li name="item14" value="14" ng-click="switchProduct($event)">
                        <span class="li-plus">+</span>
                        <span class="li-minus hidden-fold-flag">-</span>
                        <span class=".product-item">商业阿拉丁</span>
                        <span class="flag">></span>
                    </li>
                    <li name="item4" value="4" ng-click="switchProduct($event)">
                        <span class="li-plus">+</span>
                        <span class="li-minus hidden-fold-flag">-</span>
                        <span class=".product-item">品牌起跑线</span>
                        <span class="flag">></span>
                    </li>
                    <li name="item8" value="8" ng-click="switchProduct($event)">
                        <span class="li-plus">+</span>
                        <span class="li-minus hidden-fold-flag">-</span>
                        <span class=".product-item">企业百科</span>
                        <span class="flag">></span>
                    </li>
                    <li name="item7" value="7" ng-click="switchProduct($event)">
                        <span class="li-plus">+</span>
                        <span class="li-minus hidden-fold-flag">-</span>
                        <span class=".product-item">问答营销</span>
                        <span class="flag">></span>
                    </li>
                    <li name="item16" value="16" ng-click="switchProduct($event)">
                        <span class="li-plus">+</span>
                        <span class="li-minus hidden-fold-flag">-</span>
                        <span class=".product-item">知识营销cpc</span>
                        <span class="flag">></span>
                    </li>
                    <li name="item5" value="5" ng-click="switchProduct($event)">
                        <span class="li-plus">+</span>
                        <span class="li-minus hidden-fold-flag">-</span>
                        <span class=".product-item">知识营销cpt</span>
                        <span class="flag">></span>
                    </li>
                    <li name="item6" value="6" ng-click="switchProduct($event)">
                        <span class="li-plus">+</span>
                        <span class="li-minus hidden-fold-flag">-</span>
                        <span class=".product-item">图腾</span>
                        <span class="flag">></span>
                    </li>
                    <li name="item17" value="17" ng-click="switchProduct($event)">
                        <span class="li-plus">+</span>
                        <span class="li-minus hidden-fold-flag">-</span>
                        <span class=".product-item">百度知识</span>
                        <span class="flag">></span>
                    </li>
                    <li name="item9" value="9" ng-click="switchProduct($event)">
                        <span class="li-plus">+</span>
                        <span class="li-minus hidden-fold-flag">-</span>
                        <span class=".product-item">后裔检索</span>
                        <span class="flag">></span>
                    </li>
                    <li name="item10" value="10" ng-click="switchProduct($event)">
                        <span class="li-plus">+</span>
                        <span class="li-minus hidden-fold-flag">-</span>
                        <span class=".product-item">商业阿拉丁检索</span>
                        <span class="flag">></span>
                    </li>
                    <li name="item12" value="12" ng-click="switchProduct($event)">
                        <span class="li-plus">+</span>
                        <span class="li-minus hidden-fold-flag">-</span>
                        <span class=".product-item">图+检索</span>
                        <span class="flag">></span>
                    </li>
                    <li name="item13" value="13" ng-click="switchProduct($event)">
                        <span class="li-plus">+</span>
                        <span class="li-minus hidden-fold-flag">-</span>
                        <span class=".product-item">智能品专检索</span>
                        <span class="flag">></span>
                    </li>
                    <li name="item11" value="11" ng-click="switchProduct($event)">
                        <span class="li-plus">+</span>
                        <span class="li-minus hidden-fold-flag">-</span>
                        <span class=".product-item">知识营销cpc检索</span>
                        <span class="flag">></span>
                    </li>
                    <li name="item18" value="18" ng-click="switchProduct($event)">
                        <span class="li-plus">+</span>
                        <span class="li-minus hidden-fold-flag">-</span>
                        <span class=".product-item">知识营销cpt检索</span>
                        <span class="flag">></span>
                    </li>
                    <li name="item19" value="19" ng-click="switchProduct($event)">
                        <span class="li-plus">+</span>
                        <span class="li-minus hidden-fold-flag">-</span>
                        <span class=".product-item">rcv2检索</span>
                        <span class="flag">></span>
                    </li>
                    <li name="item21" value="21" ng-click="switchProduct($event)">
                        <span class="li-plus">+</span>
                        <span class="li-minus hidden-fold-flag">-</span>
                        <span class=".product-item">策略端</span>
                        <span class="flag">></span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="bonline-pv-right">
            <div class="bonline-pv-content">
                <div id="before_online_search_header" class="search-header" style="border-radius: 3px; vertical-align:middle">
                    <div style="display: inline-block; margin-left: 10px; height:30px">
                        <span class="search-title" style="margin-left: 20px; margin-right: 5px">选择日期:</span>
                        <input id="before_online_date" type="text" class="form-control" awen-date-picker ng-model="queryTime.specifiedDate" />
                    </div>
                    <div class="before-online-adtype-input">
                        <span class="search-title">AD_TYPE</span>
                        <select class="select-form"  id="search_before_online_adtype">
                            <option value="1">AD_TYPE_WEIGOU</option>
                            <option value="2">AD_TYPE_IMAS</option>
                            <option value="3">AD_TYPE_PRODUCT</option>
                            <option value="4">AD_TYPE_PA</option>
                            <option value="5">AD_TYPE_ZHIXIN_GAME</option>
                            <option value="6">AD_TYPE_SUPPLEMENT</option>
                            <option value="7">AD_TYPE_ZHIXIN_HEALTH_DISEASE</option>
                            <option value="8">AD_TYPE_ZHIXIN_HEALTH_HOSPITAL</option>
                            <option value="9">AD_TYPE_ZHIXIN_HEALTH_SEARCH</option>
                            <option value="10">AD_TYPE_NOVA</option>
                            <option value="11">AD_TYPE_WENDA</option>
                            <option value="12">AD_TYPE_PA_MULTI_LINK</option>
                            <option value="13">AD_TYPE_AFANDA</option>
                            <option value="14">AD_TYPE_SMA</option>
                            <option value="15">AD_TYPE_BRAND_DAOLIU</option>
                            <option value="16">AD_TYPE_BRAND</option>
                            <option value="20">AD_TYPE_ASP</option>
                            <option value="101">AD_TYPE_BAIKE</option>
                            <option value="102">AD_TYPE_VIDEO</option>
                        </select>
                    </div>
                    <div class="bonline-pv-search-submit">
                        <input type="submit" value="查询" class="form-control btn btn-default-style" onfocus="this.blur();" ng-click="searchData()">
                    </div>
                </div>
                <div class="content-body">
                    <div class="monitor-table-content" style="height:500px; min-height: 500px" id="result_before_online_pv_click">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
