<div id="alarm">
    <div class="alarm">
        <div class="alarm-left">
            <div class="tree-div">
                <ul class="nav nav-stacked">
                    <li name="item1" value="1" ng-click="switchProduct($event)">
                        <span class="li-plus">+</span>
                        <span class="li-minus hidden-fold-flag">-</span>
                        <span class=".product-item">KA品专</span>
                        <span class="flag">></span>
                    </li>
                    <li name="item2" value="2" ng-click="switchProduct($event)">
                        <span class="li-plus">+</span>
                        <span class="li-minus hidden-fold-flag">-</span>
                        <span class=".product-item">中小品专</span>
                        <span class="flag">></span>
                    </li>
                    <li name="item15" value="15" ng-click="switchProduct($event)">
                        <span class="li-plus">+</span>
                        <span class="li-minus hidden-fold-flag">-</span>
                        <span class=".product-item">智能品专</span>
                        <span class="flag">></span>
                    </li>
                    <li name="item20" value="20" ng-click="switchProduct($event)">
                        <span class="li-plus">+</span>
                        <span class="li-minus hidden-fold-flag">-</span>
                        <span class=".product-item">报价工具核心模块</span>
                        <span class="flag">></span>
                    </li>
                    <li name="item3" value="3" ng-click="switchProduct($event)">
                        <span class="li-plus">+</span>
                        <span class="li-minus hidden-fold-flag">-</span>
                        <span class=".product-item">品牌华表</span>
                        <span class="flag">></span>
                    </li>
                    <li name="item14" value="14" ng-click="switchProduct($event)">
                        <span class="li-plus">+</span>
                        <span class="li-minus hidden-fold-flag">-</span>
                        <span class=".product-item">商业阿拉丁</span>
                        <span class="flag">></span>
                    </li>
                    <li name="item4" value="4" ng-click="switchProduct($event)">
                        <span class="li-plus">+</span>
                        <span class="li-minus hidden-fold-flag">-</span>
                        <span class=".product-item">品牌起跑线</span>
                        <span class="flag">></span>
                    </li>
                    <li name="item8" value="8" ng-click="switchProduct($event)">
                        <span class="li-plus">+</span>
                        <span class="li-minus hidden-fold-flag">-</span>
                        <span class=".product-item">企业百科</span>
                        <span class="flag">></span>
                    </li>
                    <li name="item7" value="7" ng-click="switchProduct($event)">
                        <span class="li-plus">+</span>
                        <span class="li-minus hidden-fold-flag">-</span>
                        <span class=".product-item">问答营销</span>
                        <span class="flag">></span>
                    </li>
                    <li name="item16" value="16" ng-click="switchProduct($event)">
                        <span class="li-plus">+</span>
                        <span class="li-minus hidden-fold-flag">-</span>
                        <span class=".product-item">知识营销cpc</span>
                        <span class="flag">></span>
                    </li>
                    <li name="item5" value="5" ng-click="switchProduct($event)">
                        <span class="li-plus">+</span>
                        <span class="li-minus hidden-fold-flag">-</span>
                        <span class=".product-item">知识营销cpt</span>
                        <span class="flag">></span>
                    </li>
                    <li name="item6" value="6" ng-click="switchProduct($event)">
                        <span class="li-plus">+</span>
                        <span class="li-minus hidden-fold-flag">-</span>
                        <span class=".product-item">图腾</span>
                        <span class="flag">></span>
                    </li>
                    <li name="item17" value="17" ng-click="switchProduct($event)">
                        <span class="li-plus">+</span>
                        <span class="li-minus hidden-fold-flag">-</span>
                        <span class=".product-item">百度知识</span>
                        <span class="flag">></span>
                    </li>
                    <li name="item9" value="9" ng-click="switchProduct($event)">
                        <span class="li-plus">+</span>
                        <span class="li-minus hidden-fold-flag">-</span>
                        <span class=".product-item">后裔检索</span>
                        <span class="flag">></span>
                    </li>
                    <li name="item10" value="10" ng-click="switchProduct($event)">
                        <span class="li-plus">+</span>
                        <span class="li-minus hidden-fold-flag">-</span>
                        <span class=".product-item">商业阿拉丁检索</span>
                        <span class="flag">></span>
                    </li>
                    <li name="item12" value="12" ng-click="switchProduct($event)">
                        <span class="li-plus">+</span>
                        <span class="li-minus hidden-fold-flag">-</span>
                        <span class=".product-item">图+检索</span>
                        <span class="flag">></span>
                    </li>
                    <li name="item13" value="13" ng-click="switchProduct($event)">
                        <span class="li-plus">+</span>
                        <span class="li-minus hidden-fold-flag">-</span>
                        <span class=".product-item">智能品专检索</span>
                        <span class="flag">></span>
                    </li>
                    <li name="item11" value="11" ng-click="switchProduct($event)">
                        <span class="li-plus">+</span>
                        <span class="li-minus hidden-fold-flag">-</span>
                        <span class=".product-item">知识营销cpc检索</span>
                        <span class="flag">></span>
                    </li>
                    <li name="item18" value="18" ng-click="switchProduct($event)">
                        <span class="li-plus">+</span>
                        <span class="li-minus hidden-fold-flag">-</span>
                        <span class=".product-item">知识营销cpt检索</span>
                        <span class="flag">></span>
                    </li>
                    <li name="item19" value="19" ng-click="switchProduct($event)">
                        <span class="li-plus">+</span>
                        <span class="li-minus hidden-fold-flag">-</span>
                        <span class=".product-item">rcv2检索</span>
                        <span class="flag">></span>
                    </li>
                    <li name="item21" value="21" ng-click="switchProduct($event)">
                        <span class="li-plus">+</span>
                        <span class="li-minus hidden-fold-flag">-</span>
                        <span class=".product-item">策略端</span>
                        <span class="flag">></span>
                    </li>
                    <!--<li name="item6" value="6" ng-click="switchPage('leftTree', $event)">-->
                    <!--<span class="li-plus">+</span>-->
                    <!--<span class="li-minus hidden-fold-flag">-</span>-->
                    <!--<span class=".product-item">图腾</span>-->
                    <!--<span class="flag">></span>-->
                    <!--</li>-->
                    <!--<li name="item7" value="7" ng-click="switchPage('leftTree', $event)">-->
                    <!--<span class="li-plus">+</span>-->
                    <!--<span class="li-minus hidden-fold-flag">-</span>-->
                    <!--<span class=".product-item">问答营销</span>-->
                    <!--<span class="flag">></span>-->
                    <!--</li>-->
                    <!--<li name="item8" value="8" ng-click="switchPage('leftTree', $event)">-->
                    <!--<span class="li-plus">+</span>-->
                    <!--<span class="li-minus hidden-fold-flag">-</span>-->
                    <!--<span class=".product-item">企业百科</span>-->
                    <!--<span class="flag">></span>-->
                    <!--</li>-->
                    <!--<li name="item9" value="9" ng-click="switchPage('leftTree', $event)">-->
                    <!--<span class="li-plus">+</span>-->
                    <!--<span class="li-minus hidden-fold-flag">-</span>-->
                    <!--<span class=".product-item">后裔检索端</span>-->
                    <!--<span class="flag">></span>-->
                    <!--</li>-->
                    <!--<li name="item10" value="10" ng-click="switchPage('leftTree', $event)">-->
                    <!--<span class="li-plus">+</span>-->
                    <!--<span class="li-minus hidden-fold-flag">-</span>-->
                    <!--<span class=".product-item">阿拉丁检索端</span>-->
                    <!--<span class="flag">></span>-->
                    <!--</li>-->
                    <!--<li name="item11" value="11" ng-click="switchPage('leftTree', $event)">-->
                    <!--<span class="li-plus">+</span>-->
                    <!--<span class="li-minus hidden-fold-flag">-</span>-->
                    <!--<span class=".product-item">知识营销检索端</span>-->
                    <!--<span class="flag">></span>-->
                    <!--</li>-->
                    <!--<ul name="item11"  class="nav nav-stacked hidden-ul">-->
                    <!--<li value="12" ng-click="switchPage('leftTree', $event)"><span class=".product-item">cpc</span><span class="flag">></span></li>-->
                    <!--<li value="13" ng-click="switchPage('leftTree', $event)"><span class=".product-item">cpt</span><span class="flag">></span></li>-->
                    <!--</ul>-->
                    <!--<li name="item14" value="14" ng-click="switchPage('leftTree', $event)">-->
                    <!--<span class="li-plus">+</span>-->
                    <!--<span class="li-minus hidden-fold-flag">-</span>-->
                    <!--<span class=".product-item">图+检索端</span>-->
                    <!--<span class="flag">></span>-->
                    <!--</li>-->
                    <!--<li name="item15" value="15" ng-click="switchPage('leftTree', $event)">-->
                    <!--<span class="li-plus">+</span>-->
                    <!--<span class="li-minus hidden-fold-flag">-</span>-->
                    <!--<span class=".product-item">智能品专检索端</span>-->
                    <!--<span class="flag">></span>-->
                    <!--</li>-->
                </ul>
            </div>
        </div>
        <div class="alarm-right">
            <div class="alarm-content">
                <div class="top-null-div"></div>
                
                <!--search header begin-->
                <div class="search-header">
                    <div class="alarm-scope-input">
                        <span class="search-title">范围</span>
                        <select class="select-form form-control" id="search_alarm_scope">
                            <option value="1">所有报警</option>
                            <option value="0" selected="selected">我的报警</option>
                        </select>
                    </div>
                    <div class="alarm-id-input">
                        <span class="search-title">报警ID</span>
                        <input id="search_alarm_id" class="input-form"  autocomplete="off">
                    </div>
                    <div class="alarm-level-input">
                        <span class="search-title">监控级别</span>
                        <select class="select-form" ng-model="alarm.monitorLevel" id="search_alarm_level">
                            <option value="">所有</option>
                            <option value="0">P0</option>
                            <option value="1">P1</option>
                            <option value="2">P2</option>
                        </select>
                    </div>
                    <div class="alarm-channel-input">
                        <span class="search-title">频道</span>
                        <select  class="select-form" ng-model="alarm.monitorChannel" id="search_alarm_channel" >
                            <option value selected="selected">所有</option>
                            <option ng-repeat="alarmChannelItem in monitorChannels" value="{{alarmChannelItem.name}}" name="{{alarmChannelItem.name}}">{{alarmChannelItem.name}}</option>
                        </select>
                    </div>
                    <div class="alarm-name-input">
                        <span class="search-title">监控项名称</span>
                        <select  class="select-form" id="search_alarm_name" >
                            <option value selected="selected">所有</option>
                            <option ng-repeat="monitorNameItem in monitorNames.monitorList" ng-show="filterMonitorName(monitorNameItem, alarm.monitorLevel, alarm.monitorChannel)" value="{{monitorNameItem.monitorName}}" name="{{monitorNameItem.monitorName}}">{{monitorNameItem.monitorName}}</option>
                        </select>
                        <!-- <input id="search_alarm_name" class="input-form"  autocomplete="off"> -->
                    </div>                  
                    <div class="alarm-status-input">
                        <span class="search-title">状态</span>
                        <select class="select-form" id="search_alarm_status">
                            <option value="">所有</option>
                            <option value="0" selected="selected">未处理</option>
                            <option value="1">处理中</option>
                            <option value="2">处理完成</option>
                        </select>
                    </div>
                    <div class="alarm-monitor-input">
                        <span class="search-title">监控类型</span>
                        <select class="select-form" id="search_alarm_monitor_type">
                            <option value="1" selected="selected">展现监控</option>
                            <option value="2">质量监控</option>
                            <option value="3">数据监控</option>
                        </select>
                    </div>

                    <div class="alarm-search-time-input">
                        <span class="search-title">报警时间:</span>
                        <input type="text" class="form-control" id="search_alarm_begin_time" placeholder="开始时间">
                        --
                        <input type="text" class="form-control" id="search_alarm_end_time" placeholder="结束时间">
                        <img src="../img/reset.png" class="refresh-date-picker" title="重置日期" ng-click="refreshSearchAlarmDate()"></img>
                    </div>

                    <div class="alarm-search-submit">
                        <a href="{{alarm.alarmExportUrl}}">
                        <input type="submit" value="导出报警列表" class="form-control btn btn-default-style" onfocus="this.blur();" ng-click="exportAlarmList()">
                        </a>
                    </div>
                    <div class="alarm-search-submit">
                        <input type="submit" value="查询" class="form-control btn btn-default-style" onfocus="this.blur();" ng-click="searchAlarm()">
                    </div>
                </div>
                <div class="sub-alarm-nav">
                    <!-- <ul class="sub-alarm-nav-menu">
                        <li name="displayMonitor" class="alarm-nav-display-monitor current-li" value="1" ng-click="searchAlarmByMonitorType(1)">展现监控</li>
                        <li name="qualityMonitor" class="alarm-nav-quality-monitor" value="2" ng-click="searchAlarmByMonitorType(2)">质量监控</li>
                        <li name="dataMonitor" class="alarm-nav-data-monitor" value="3" ng-click="searchAlarmByMonitorType(3)">数据监控</li>
                    </ul> -->
                    <input type="submit" value="批量处理" class="form-control btn btn-default-style batch-deal-btn" onfocus="this.blur();" ng-click="batchDeal()">
                    <span class="sub-alarm-undealed">
                        该业务线共有
                        <span class="sub-alarm-undealed-val">{{loadAlarmData.uncompletedCount}}</span>
                        条报警等待处理&nbsp;(展现监控类
                        <span class="sub-alarm-undealed-display-val" ng-class="{0: 'none-class'}[loadAlarmData.displayUncompletedCount]">{{loadAlarmData.displayUncompletedCount}}</span>
                        条，质量监控类
                        <span class="sub-alarm-undealed-quality-val" ng-class="{0: 'none-class'}[loadAlarmData.qualityUncompletedCount]">{{loadAlarmData.qualityUncompletedCount}}</span>
                        条，数据监控类
                        <span class="sub-alarm-undealed-data-val" ng-class="{0: 'none-class'}[loadAlarmData.dataUncompletedCount]">{{loadAlarmData.dataUncompletedCount}}</span>
                        条)
                    </span>
                </div>
                <!--content begin-->
                <div class="content-body">
                    <div class="alarm-table-content">
                        <div style="height:auto;">
                            <div id="alarm_table_div">
                            </div>
                        </div>
                    </div>
                    <div class="alarm-table-info">
                        <button id="pre_page_task" class="btn btn-default"  ng-click="jumpAlarmPage('pre_page')">&lt;上一页</button>
                        <label class="current-page-no" ng-model="loadAlarmData.pageIndex" pageIndex={{loadAlarmData.pageIndex}}>&nbsp<u><b ng-bind="loadAlarmData.pageIndex"></b></u>&nbsp</label>
                        <button id="next_page_task" class="btn btn-default" ng-click="jumpAlarmPage('next_page')">下一页&gt;</button>
                        <label class="total-alarm-page-count" totalCount={{loadAlarmData.totalPage}}>共<b ng-bind="loadAlarmData.totalPage"></b>页&nbsp<b ng-bind="loadAlarmData.totalCount"></b>条&nbsp&nbsp&nbsp</label>
                        <div class="page-size">
                            <select class="number-per-page" id="number_per_page" ng-model="alarm.pageSize" ng-change="reloadAlarmList()">
                                <option value="30" selected>30</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                            </select>
                            <span>条/页</span>
                        </div>
                        <div class="col-lg-2 go-div">
                                <input type="text" class="buttonGO ng-pristine ng-valid" id="targetPage" ng-model="targetPage"/>
                                <span class="input-group-btn">
                                    <button class="btn btn-default buttonGO" type="button" ng-click="turnAlarmPage(targetPage)">Go!</button>
                                </span>
                            <div class="prompt ng-hide" ng-show="Prompt>loadAlarmdata.totalPage">*输入页数超过总页数！</div>
                        </div>
                    </div>
                </div>
                <div class="bottom-null-div"></div>
            </div>
        </div>
    </div>
</div>