<div id="monitor">
<div class="monitor">
    <div class="monitor-left">
        <div class="tree-div">
            <ul class="nav nav-stacked">
                <li name="item1" value="1" ng-click="switchProduct($event)">
                    <span class="li-plus">+</span>
                    <span class="li-minus hidden-fold-flag">-</span>
                    <span class=".product-item">KA品专</span>
                    <span class="flag">></span>
                </li>
                <li name="item2" value="2" ng-click="switchProduct($event)">
                    <span class="li-plus">+</span>
                    <span class="li-minus hidden-fold-flag">-</span>
                    <span class=".product-item">中小品专</span>
                    <span class="flag">></span>
                </li>
                <li name="item15" value="15" ng-click="switchProduct($event)">
                    <span class="li-plus">+</span>
                    <span class="li-minus hidden-fold-flag">-</span>
                    <span class=".product-item">智能品专</span>
                    <span class="flag">></span>
                </li>
                <li name="item20" value="20" ng-click="switchProduct($event)">
                    <span class="li-plus">+</span>
                    <span class="li-minus hidden-fold-flag">-</span>
                    <span class=".product-item">报价工具核心模块</span>
                    <span class="flag">></span>
                </li>
                <li name="item3" value="3" ng-click="switchProduct($event)">
                    <span class="li-plus">+</span>
                    <span class="li-minus hidden-fold-flag">-</span>
                    <span class=".product-item">品牌华表</span>
                    <span class="flag">></span>
                </li>
                <li name="item14" value="14" ng-click="switchProduct($event)">
                    <span class="li-plus">+</span>
                    <span class="li-minus hidden-fold-flag">-</span>
                    <span class=".product-item">商业阿拉丁</span>
                    <span class="flag">></span>
                </li>
                <li name="item4" value="4" ng-click="switchProduct($event)">
                    <span class="li-plus">+</span>
                    <span class="li-minus hidden-fold-flag">-</span>
                    <span class=".product-item">品牌起跑线</span>
                    <span class="flag">></span>
                </li>
                <li name="item8" value="8" ng-click="switchProduct($event)">
                    <span class="li-plus">+</span>
                    <span class="li-minus hidden-fold-flag">-</span>
                    <span class=".product-item">企业百科</span>
                    <span class="flag">></span>
                </li>
                <li name="item7" value="7" ng-click="switchProduct($event)">
                    <span class="li-plus">+</span>
                    <span class="li-minus hidden-fold-flag">-</span>
                    <span class=".product-item">问答营销</span>
                    <span class="flag">></span>
                </li>
                <li name="item16" value="16" ng-click="switchProduct($event)">
                    <span class="li-plus">+</span>
                    <span class="li-minus hidden-fold-flag">-</span>
                    <span class=".product-item">知识营销cpc</span>
                    <span class="flag">></span>
                </li>
                <li name="item5" value="5" ng-click="switchProduct($event)">
                    <span class="li-plus">+</span>
                    <span class="li-minus hidden-fold-flag">-</span>
                    <span class=".product-item">知识营销cpt</span>
                    <span class="flag">></span>
                </li>
                <li name="item6" value="6" ng-click="switchProduct($event)">
                    <span class="li-plus">+</span>
                    <span class="li-minus hidden-fold-flag">-</span>
                    <span class=".product-item">图腾</span>
                    <span class="flag">></span>
                </li>
                <li name="item17" value="17" ng-click="switchProduct($event)">
                    <span class="li-plus">+</span>
                    <span class="li-minus hidden-fold-flag">-</span>
                    <span class=".product-item">百度知识</span>
                    <span class="flag">></span>
                </li>
                <li name="item9" value="9" ng-click="switchProduct($event)">
                    <span class="li-plus">+</span>
                    <span class="li-minus hidden-fold-flag">-</span>
                    <span class=".product-item">后裔检索</span>
                    <span class="flag">></span>
                </li>
                <li name="item10" value="10" ng-click="switchProduct($event)">
                    <span class="li-plus">+</span>
                    <span class="li-minus hidden-fold-flag">-</span>
                    <span class=".product-item">商业阿拉丁检索</span>
                    <span class="flag">></span>
                </li>
                <li name="item12" value="12" ng-click="switchProduct($event)">
                    <span class="li-plus">+</span>
                    <span class="li-minus hidden-fold-flag">-</span>
                    <span class=".product-item">图+检索</span>
                    <span class="flag">></span>
                </li>
                <li name="item13" value="13" ng-click="switchProduct($event)">
                    <span class="li-plus">+</span>
                    <span class="li-minus hidden-fold-flag">-</span>
                    <span class=".product-item">智能品专检索</span>
                    <span class="flag">></span>
                </li>
                <li name="item11" value="11" ng-click="switchProduct($event)">
                    <span class="li-plus">+</span>
                    <span class="li-minus hidden-fold-flag">-</span>
                    <span class=".product-item">知识营销cpc检索</span>
                    <span class="flag">></span>
                </li>
                <li name="item18" value="18" ng-click="switchProduct($event)">
                    <span class="li-plus">+</span>
                    <span class="li-minus hidden-fold-flag">-</span>
                    <span class=".product-item">知识营销cpt检索</span>
                    <span class="flag">></span>
                </li>
                <li name="item19" value="19" ng-click="switchProduct($event)">
                    <span class="li-plus">+</span>
                    <span class="li-minus hidden-fold-flag">-</span>
                    <span class=".product-item">rcv2检索</span>
                    <span class="flag">></span>
                </li>
            </ul>
        </div>
    </div>
    <div class="monitor-right">
        <div class="monitor-content">
            <div id="display_search_header" class="search-header" style="border-radius: 3px; vertical-align:middle">
                <div style="display: inline-block; margin-left: 10px; height:30px">
                    <span class="search-title" style="margin-right: 5px">选择对比时间(周同比, 多选):</span>
                    <div class="btn-group" role="group">
                        <div ng-repeat='se in queryTime.selectDate' ng-click='weekSelect($event.target, $index)' ng-class="{'btn':true, 'btn-success':se.selected}">{{se.title}}</div>
                    </div>
                </div>
                <div style="display: inline-block; margin-left: 10px; height:30px">
                    <span class="search-title" style="margin-left: 20px; margin-right: 5px">指定额外一天:</span>
                    <input type="text" class="form-control hasDatepicker" id="display_specifiedDate" />
                </div>
                <!-- customized part for KA, move to js
                <div style="display: inline-block; margin-left: 10px; height:30px">
                    <span class="search-title">选择展现位:</span>
                    <select class="select-form" ng-model="srcSelect.selected" ng-options="op.id as op.label for op in srcSelect.options">
                    </select>
                </div>
                <div style="display: inline-block; margin-left: 10px; height:30px">
                    <span class="search-title">选择类型:</span>
                    <select class="select-form" ng-model="typeSelect.selected" ng-options="op.label as op.label for op in typeSelect.options">
                    </select>
                </div>
                -->
            </div>
            <div class="content-body">
                <div class="monitor-table-content" style="height:500px; min-height: 500px" id="result_display">
                </div>
            </div>
        </div>
    </div>
</div>
</div>
